<template>
  <div class="container-fluid">
  <div class="row">
    <div class="col-xl-2 col-lg-3 col-md-4 col-12">
      <div class="filters-block">
        <form name="filter-form" id="filters-form" action="catalog/ofisnaya-mebel/tovaryi-dlya-ofisa/ofisnyie-kuxni/" method="post">
          <div class="filters-title">Категории</div>
          <div class="filter-tabs">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-products-tab" data-action="catalog/ofisnaya-mebel/tovaryi-dlya-ofisa/ofisnyie-kuxni/" data-toggle="tab" href="#nav-products" role="tab" aria-controls="nav-products" aria-selected="true">Товары</a>
                <a class="nav-item nav-link" id="nav-collections-tab" data-action="" data-toggle="tab" href="#nav-collections" role="tab" aria-controls="nav-collections" aria-selected="false">Коллекции</a>
              </div>
            </nav>
            <div class="filter-search">
              <input type="text" name="query" value="" placeholder="Поиск по категориям">
            </div>
            <div class="filter-return"><a href="catalog/ofisnaya-mebel/">Вернуться ко всем категориям</a></div>
            <nav class="sidebar" id="sidebar">
              <div class="category-title">Товары для офиса</div>
              <ul class="list-unstyled components sidebar-navigation">
                <li>
                  <div class="combo-radio-item">
                    <a href="catalog/ofisnaya-mebel/tovaryi-dlya-ofisa/ofisnyie-kuxni/"><label>Офисные кухни</label></a>
                  </div>
                </li><li>
                <div class="combo-radio-item">
                  <a href="catalog/ofisnaya-mebel/tovaryi-dlya-ofisa/shkafyi-kupe/"><label>Шкафы-купе</label></a>
                </div>
              </li><li>
                <div class="combo-radio-item">
                  <a href="catalog/ofisnaya-mebel/tovaryi-dlya-ofisa/zhurnalnyie-stolyi/"><label>Столы</label></a>
                </div>
              </li><li>
                <div class="combo-radio-item">
                  <a href="catalog/ofisnaya-mebel/tovaryi-dlya-ofisa/akusticheskie-kabinyi/"><label>Акустические кабины</label></a>
                </div>
              </li><li>
                <div class="combo-radio-item">
                  <a href="catalog/ofisnaya-mebel/tovaryi-dlya-ofisa/veshalki/"><label>Вешалки</label></a>
                </div>
              </li><li>
                <div class="combo-radio-item">
                  <a href="catalog/ofisnaya-mebel/tovaryi-dlya-ofisa/ofisnyie-svetilniki/"><label>Офисные светильники</label></a>
                </div>
              </li><li>
                <div class="combo-radio-item">
                  <a href="catalog/ofisnaya-mebel/tovaryi-dlya-ofisa/iskusstvennyie-derevya/"><label>Искусственные деревья</label></a>
                </div>
              </li><li>
                <div class="combo-radio-item">
                  <a href="catalog/ofisnaya-mebel/tovaryi-dlya-ofisa/byuvaryi/"><label>Бювары</label></a>
                </div>
              </li><li>
                <div class="combo-radio-item">
                  <a href="catalog/ofisnaya-mebel/tovaryi-dlya-ofisa/posteryi/"><label>Офисные постеры</label></a>
                </div>
              </li><li>
                <div class="combo-radio-item">
                  <a href="catalog/ofisnaya-mebel/tovaryi-dlya-ofisa/kovriki-pod-kompyuternoe-kreslo/"><label>Коврики под компьютерное кресло</label></a>
                </div>
              </li>
              </ul>
              <div class="sidebar-navigation-expander-outer"><span class="sidebar-navigation-expander">Смотреть все</span></div>
            </nav>
            <div class="filter-box price active">
              <div class="filter-box-title fa_icon">Цена</div>
              <div class="filter-block" style="display:block">
                <div class="price-ranges">

                </div>
                <div class="wrapp_change_inputs iblock">
                  <div class="parameters_box_container_block">
                    <div class="bx_filter_input_container">
                      <input class="min-price" type="text" name="min_price" id="" value="" size="5" placeholder="от">
                    </div>
                  </div>
                  <div class="parameters_box_container_block">
                    <div class="bx_filter_input_container">
                      <input class="max-price" type="text" name="max_price" id="" value="" size="5" placeholder="до">
                    </div>
                  </div>
                  <span class="divider"></span>
                  <div style="clear: both;"></div>
                </div>
              </div>
            </div>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-products" role="tabpanel" aria-labelledby="nav-products-tab"></div>
              <div class="tab-pane fade" id="nav-collections" role="tabpanel" aria-labelledby="nav-collections-tab"><div class="filter-box">
                <div class="filter-box-title fa_icon">
                  Назначение коллекции
                </div>
                <div class="filter-block" style="display:none">
                  <div class="wrapp_change_inputs iblock">
                    <div class="combo-multiple-item"><input class="custom-checkbox" type="checkbox" value="livingRoom" name="purpose[]" id="purpose-0"><label for="purpose-0">Гостиная</label></div><div class="combo-multiple-item"><input class="custom-checkbox" type="checkbox" value="hallway" name="purpose[]" id="purpose-1"><label for="purpose-1">Прихожая</label></div><div class="combo-multiple-item"><input class="custom-checkbox" type="checkbox" value="cabinet" name="purpose[]" id="purpose-2"><label for="purpose-2">Кабинет</label></div><div class="combo-multiple-item"><input class="custom-checkbox" type="checkbox" value="bedroom" name="purpose[]" id="purpose-3"><label for="purpose-3">Спальня</label></div><div class="combo-multiple-item"><input class="custom-checkbox" type="checkbox" value="diningRoom" name="purpose[]" id="purpose-4"><label for="purpose-4">Столовая</label></div><div class="combo-multiple-item"><input class="custom-checkbox" type="checkbox" value="childroom" name="purpose[]" id="purpose-5"><label for="purpose-5">Детская</label></div>
                    <div style="clear: both;"></div>
                  </div>
                </div>
              </div><div class="filter-box">
                <div class="filter-box-title fa_icon">
                  Стиль
                </div>
                <div class="filter-block" style="display:none">
                  <div class="wrapp_change_inputs iblock">
                    <div class="combo-multiple-item"><input class="custom-checkbox" type="checkbox" value="americanClassic" name="style[]" id="style-0"><label for="style-0">Американская классика</label></div><div class="combo-multiple-item"><input class="custom-checkbox" type="checkbox" value="italicClassic" name="style[]" id="style-1"><label for="style-1">Итальянская классика</label></div><div class="combo-multiple-item"><input class="custom-checkbox" type="checkbox" value="modern" name="style[]" id="style-2"><label for="style-2">Модерн</label></div><div class="combo-multiple-item"><input class="custom-checkbox" type="checkbox" value="artDeco" name="style[]" id="style-3"><label for="style-3">Арт-деко</label></div><div class="combo-multiple-item"><input class="custom-checkbox" type="checkbox" value="loft" name="style[]" id="style-4"><label for="style-4">Лофт</label></div><div class="combo-multiple-item"><input class="custom-checkbox" type="checkbox" value="neoClassic" name="style[]" id="style-5"><label for="style-5">Неоклассика</label></div><div class="combo-multiple-item"><input class="custom-checkbox" type="checkbox" value="сontemporary" name="style[]" id="style-6"><label for="style-6">Современный</label></div>
                    <div style="clear: both;"></div>
                  </div>
                </div>
              </div></div>
            </div>
          </div>

          <input name="parents" value="457" type="hidden">
          <input name="action" type="hidden" value="filter">

          <!-- <div class="resultBlock">Найдено товаров: <span class="resultCount">0</span></div> -->
        </form>
      </div>
    </div>
    <div class="col-xl-10 col-lg-9 col-md-8 col-12">
      <section class="slider catalog-slider">
        <div class="flexslider carousel">
          <ul class="slides">

          </ul>
        </div>
      </section>
      <div class="product-crumbs">
        <ol class="breadcrumb"><li class="breadcrumbs-item"><a href="/">Главная</a></li><span class="breadcrumb-separator">•</span><li class="breadcrumbs-item"><a href="catalog/ofisnaya-mebel/">Офисная мебель</a></li><span class="breadcrumb-separator">•</span><li class="breadcrumbs-item active">Товары для офиса </li></ol>
      </div>
      <div class="content">
        <div class="content__inner">
            <h2>Products</h2>
            <b-card v-for="product of products"
                    :title="product.title"
                    tag="article"
                    style="max-width: 20rem;"
                    :key="product.id"
                    class="mb-2 product-card"

            >
              <b-card-text>
                {{product.description}}
                <p v-if="product.product_set && product.product_set.length">Набор:</p>
                <ul>
                  <li v-for="set of product.product_set">{{set.title}}</li>
                </ul>
              </b-card-text>

              <b-button href="#" variant="primary">Detail</b-button>
            </b-card>
        </div>
      </div>
    </div>
  </div>
  </div>

</template>

<script>
export default {
  head() {
    return {
      title: "yii2 for yii web application"
    };
  },
  data() {
    return {
      products: []
    }
  },

  async fetch() {
    this.products = await fetch(
      process.env.apiUrl + 'product'
    ).then(res => res.json())
  }
};
</script>
