<template>
  <div>
    <b-container>
          <h2>Products</h2>
          <b-card v-for="product of products"
            :title="product.title"
            tag="article"
            style="max-width: 20rem;"
            :key="product.id"
            class="mb-2 product"

          >
            <b-card-text>
              {{product.description}}
              <p v-if="product.product_set && product.product_set.length">Набор:</p>
              <ul>
                <li v-for="set of product.product_set">{{set.title}}</li>
              </ul>
            </b-card-text>

            <b-button href="#" variant="primary">Detail</b-button>
          </b-card>
    </b-container>
  </div>
</template>
<script>
export default {
  async asyncData({params, $http}) {
    //console.log($http);
    //const post = await $http.$get(`https://api.nuxtjs.dev/posts/${params.id}`)
    //return { post }
  },
  head() {
    return {
      title: "Products"
    };
  },
  data() {
    return {
      products: []
    }
  },
  /*async asyncData({ $http }) {
    const mountains = await $http.get('https://web-stroy-nuxt/api/v1/category');
    console.log(mountains);
    return { mountains }
  }*/
  async fetch() {
    this.products = await fetch(
      process.env.apiUrl + 'product'
    ).then(res => res.json())
  }
};
</script>
