<template>
  <div>
    <b-container>
      <b-row style="min-height:48rem;" class="mt-5">
        <b-col>
          <b-form @submit.prevent="userSignUp" v-if="show">
            <b-form-group
              id="input-group-0"
              label="Login:"
              label-for="input-0"
              description="Your name"
            >
              <b-form-input
                id="input-0"
                v-model="form.username"
                type="text"
                placeholder="Enter name"
                required
              ></b-form-input>
            </b-form-group>
            <b-form-group
              id="input-group-1"
              label="Email address:"
              label-for="input-1"
              description="We'll never share your email with anyone else."
            >
              <b-form-input
                id="input-1"
                v-model="form.email"
                type="email"
                placeholder="Enter email"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Your Name:" label-for="input-2">
              <b-form-input
                id="input-2"
                v-model="form.password"
                type="password"
                placeholder="Enter password"
                required
              ></b-form-input>
            </b-form-group>

            <b-button type="submit" variant="primary">Submit</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
          </b-form>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
//console.log(this.env.apiUrl);
export default {
  middleware: 'guest',
  data() {
    return {
      form: {
        username: '',
        email: '',
        password: ''
      },
      show: true
    }
  },
  mounted() {
    //console.log(this.$auth.loggedIn) // -> true
  },
  methods: {
    async userSignUp() {
      try {
        //let response = await this.$auth.register('local', {data: this.form})
          this.$axios.$post('user/signup', this.form).then((user) => {
            console.log(user)
            /*this.$auth.setUser(user);
            console.log(this.$auth.user); // actually returns the user
            console.log(this.$auth.loggedIn); // returns false*/
          }).then(() => {
            //this.$auth.fetchUser().then(data => console.log(data)); // returns undefined (could be because the user already exists in memory?)
          });

        //await this.$auth.setUser(response.user)
        //console.log(response)
      } catch (err) {
        //console.log(err)
      }
    },
  }
}
</script>
