<template>
  <b-container>
    <b-jumbotron header-html="<h1>BootstrapVue</h1>" bg-variant="white">
      <p>Верификация</p>
      <b-button variant="primary" href="#">More Info</b-button>
    </b-jumbotron>
    <b-row>
      <b-col cols="12" lg="4">
        <h2>Heading</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
          ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur.
        </p>

        <p>
          <a class="btn btn-default" href="http://www.yiiframework.com/doc/">Yii Documentation »</a>
        </p>
      </b-col>
      <b-col cols="12" lg="4">
        <h2>{{ verify.message }}</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
          ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur.
        </p>

        <p>
          <a class="btn btn-default" href="http://www.yiiframework.com/doc/">Yii Documentation »</a>
        </p>
      </b-col>
      <b-col cols="12" lg="4">
        <h2>Heading</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
          ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur.
        </p>

        <p>
          <a class="btn btn-default" href="http://www.yiiframework.com/doc/">Yii Documentation »</a>
        </p>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      verify:[],
      show: true
    }
  },
  head() {
    return {
      title: "yii2 for yii web application"
    };
  },
  async fetch() {
    console.log(process.env.apiUrl)
    this.verify = await fetch(
      process.env.apiUrl + 'user/verify-email?token=' + this.$route.query.token
    ).then(res => res.json());
    console.log(this.verify.message);
  }
};
</script>
