<template>
<div>
  <!--<b-dropdown class="navbar-nav" variant="light" :text="node">
    <b-dropdown-item class="navbar-nav" :href="node.url">{{ node }}
      <node   v-if="node.children && node.children.length>0" v-for="child in node.children" :nodes="child" :key="child.id"></node>
    </b-dropdown-item>
  </b-dropdown>-->

  <b-dropdown id="dropdown-1" class="header-menu__dropdown">
    <template v-slot:button-content>
      {{ node }}
    </template>
    <b-dropdown-item to="/social-media-campaigns">Social Media</b-dropdown-item>
    <node   v-if="node.children && node.children.length>0" v-for="child in node.children" :nodes="child" :key="child.id"></node>
  </b-dropdown>

</div>
</template>

<script>
export default {
  name: "node",
  props: {
    node: Object
  }
};
</script>
