<template>
  <b-navbar-nav class="nav-item">

      <node-tree v-for="child in treeData.children" :key="child.id" :node="child"></node-tree>

  </b-navbar-nav>
</template>

<script>
import NodeTree from "./NodeTree";

export default {
  name: "tree",
  props: {
    treeData: Array
  },
  components: {
    NodeTree
  }
};
</script>

<style>
.tree-list ul {
  padding-left: 16px;
  margin: 6px 0;
}
</style>

