<template>
  <div>
    <b-container>
      <b-row style="min-height:48rem;" class="mt-5">
        <b-col>
          <h2>Category</h2>
          <b-tree-view :data="treeData"></b-tree-view>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
export default {
  head() {
    return {
      title: "Category"
    };
  },
  data() {
    return {
      treeData: [{}],

    }
  },

  async fetch() {
    this.treeData = await fetch(
      'https://web-stroy-nuxt/api/v1/category'
    ).then(res => res.json())
  },

};
</script>
