<template>
  <div>
    <top-navbar/>
    <nuxt/>
    <footer class="footer">
      <div class="container">
        <p class="float-left">© My Company 2020</p>
        <p class="float-right">
          Powered by
          <a href="http://www.yiiframework.com/" rel="external">Yii Framework</a>
        </p>
      </div>
    </footer>
  </div>
</template>
<script>
import {mapGetters} from 'vuex'
import topNavbar from "../components/topNavbar";

export default {
  components: {
    topNavbar
  },
  data() {
    return {
      menu: [
        {
          header: true,
          title: 'Main Navigation',
          hiddenOnCollapse: true
        },
        {
          href: '/',
          title: 'Dashboard',
          icon: 'fa fa-user'
        },
        {
          href: '/charts',
          title: 'Charts',
          icon: 'fa fa-chart-area',
          child: [
            {
              href: '/charts/sublink',
              title: 'Sub Link'
            }
          ]
        }
      ]
    }
  }
}
</script>
<style>
.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
.navbar-nav .nav-item a.nuxt-link-exact-active {
  color: red;
}
</style>

