<template>
  <div>
    <b-container>
      <b-row style="min-height:48rem;" class="mt-5">
        <b-col>
          <b-form @submit.prevent="userLogin" v-if="show">
            <b-form-group
              id="input-group-1"
              label="Email address:"
              label-for="input-1"
              description="We'll never share your email with anyone else."
            >
              <b-form-input
                id="input-1"
                v-model="login.email"
                type="email"
                placeholder="Enter email"
                required
              ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-2" label="Your Name:" label-for="input-2">
              <b-form-input
                id="input-2"
                v-model="login.password"
                type="password"
                placeholder="Enter password"
                required
              ></b-form-input>
            </b-form-group>

            <b-button type="submit" variant="primary">Submit</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
          </b-form>
        </b-col>
      </b-row>
    </b-container>
    {{test}}
  </div>
</template>

<script>
export default {
  name: "loginForm",
  middleware: 'guest',

  data() {
    return {
      login: {
        email: '',
        password: ''
      },
      show: true
    }
  },
  computed:{
    test(){
      //console.log(this.$auth.user.username)
    }
  },
  methods: {
    /*refresh () {
      this.$nuxt.refresh()
    },*/
    async userLogin() {
      try {
        let response = await this.$auth.loginWith('local', {data: this.login});
        //console.log(response.data.user);
        //console.log(this.$auth.setUser(response.data.user));
        //window.location.reload();
        //this.$nuxt.$emit('onLogin')
        //this.$nuxt.refresh();
        //this.$nextTick(()=>{console.log('login')})
        //return redirect(app.localePath('/'))
      } catch (err) {
        //console.log(err)
      }
    },
    /*async onLogout() {
      await this.$auth.logout();
      return redirect(this.localePath('/'))
      // this.$store.commit('setLoggedIn', false) // even if I use this
      //console.log(this.$auth.loggedIn) // -> false
      // and then redirect, and on mounted it again true. Why?
    },*/

  }
}
</script>

<style scoped>

</style>
