<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="dark">
      <b-container>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav class="header_top-flex">
          <b-navbar-nav class="header_menu">
            <b-nav-item class="header-personals-link" :to="localePath('/')">{{ $t('home') }}</b-nav-item>
            <b-nav-item :to="localePath('/category')">{{ $t('Category') }}</b-nav-item>
            <b-nav-item :to="localePath('/product')">{{ $t('Product') }}</b-nav-item>
            <b-nav-item :to="localePath('/about')">{{ $t('About') }}</b-nav-item>
            <b-nav-item :to="localePath('/contact')">Contact</b-nav-item>
            <b-nav-item v-if="!$auth.loggedIn" :to="localePath('/login')">Login</b-nav-item>
            <b-nav-item v-if="!$auth.loggedIn" :to="localePath('/register')">{{ $t('Sign in') }}</b-nav-item>
          </b-navbar-nav>

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown :text="this.$i18n.locale" right>
              <b-dropdown-item
                v-for="locale in availableLocales"
                :key="locale.code"
                @click.prevent.stop="$i18n.setLocale(locale.code)"
              >{{ locale.name }}
              </b-dropdown-item>
            </b-nav-item-dropdown>

            <b-nav-item-dropdown right v-if="this.$auth.loggedIn">
              <!-- Using 'button-content' slot -->
              <template v-slot:button-content>
                <em>{{ loggedInUser.username }}</em>
              </template>
              <b-dropdown-item href="#">Profile</b-dropdown-item>
              <b-dropdown-item @click.prevent="onLogout">Sign Out</b-dropdown-item>
            </b-nav-item-dropdown>
            <b-nav-item-dropdown right v-if="!this.$auth.loggedIn">
              <!-- Using 'button-content' slot -->
              <template v-slot:button-content>
                <em>Login</em>
              </template>
              <b-dropdown-item :to="localePath('/login')">Login</b-dropdown-item>
              <b-dropdown-item :to="localePath('/register')">Register</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-container>
    </b-navbar>
    <div class="header_bottom">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-3 col-md-3 d-none d-md-block">
            <a href="/" title="Roomsee" class="header__logo"><img src="/upload/base/logo-black.png" alt=""></a>
          </div>
          <div class="col-lg-6 col-md-5 col-sm-7 col-12 text-xs-center">
            <form class="simplesearch-search-form" action="rezultat-poiska" method="get">
              <fieldset>
                <input type="text" name="search" id="search" value="" placeholder="Поиск">
                <input type="hidden" name="id" value="25">

                <input type="submit">
              </fieldset>
            </form>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-5 d-md-block text-md-left text-sm-center text-xs-center">
            <div class="header_navicon">
              <button class="header-login-button image-button-not-auth" type="button" data-toggle="modal" data-target="#login-form"></button>
              <a href="favorite-list/" class="header-favorite"></a>
              <a href="compare-products" class="header-compare"></a>
              <a href="korzina" class="header-cart "><div id="msMiniCart" class="msMiniCart minicart ">
                <div class="empty">

                </div>
                <div class="not_empty">
                  <span class="ms2_total_count colored_theme_bg">0</span>
                </div>
              </div></a>
              <div class="header-menu">
                <div class="header-menu-head">
                  <div class="profile-image"><img src="/assets/images/no-image.png" alt=""></div>
                  <div class="profile-info">
                    <div class="user-role">Пользователь</div>
                    <div class="menu-company-name">Не установлено</div>
                  </div>
                </div>
                <div class="header-menu-link profile">
                  <a href="personal">Учетная запись</a>
                </div>
                <div class="header-menu-link orders">
                  <a href="moi-zakazyi">Мои заказы</a>
                </div>
                <div class="header-menu-link messages">
                  <a class="messages-link" href="messages">Сообщения </a>
                </div>
                <div class="header-menu-link cashback">
                  <a href="#">Мой кэшбек</a>
                </div>
                <div class="header-menu-link orders-history">
                  <a href="#">История покупок</a>
                </div>
                <div class="header-menu-link notifications">
                  <a href="notifications">Уведомления</a>
                </div>
                <div class="header-menu-link logout">
                  <a href="/?service=logout">Выйти</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <vue-tree-navigation :items="categoriesTree" :defaultOpenLevel='0'/>

  </div>
</template>
<script>
import {mapGetters} from "vuex";
import Tree from '../components/tree-category/Tree'
export default {
  name: "topNavbar",
  components: {
    Tree
  },
  computed: {
    availableLocales() {
      return this.$i18n.locales.filter(i => i.code !== this.$i18n.locale)
    },
    ...mapGetters(['isAuthenticated', 'loggedInUser'])

  },
  methods: {
    async onLogout() {
      await this.$auth.logout();
    },
  },
  data() {
    return {
      categoriesTree: [
        {
          id  : 1,
          name : "Electronics",
          path: "#",
          children: [
            {
              id  : 2,
              name : "TVs",
              path: '/category/2/tvs',
              children: [{
                id: 3,
                name: "Computers222",
                path: '#',
                children: []
              }]
            },
            {
              id  : 3,
              name : "Computers",
              path: '#',
              children: [
                {
                  id: 4,
                  name: 'Dell',
                  path: '/category/4/dell',
                  children: []
                },
                {
                  id: 5,
                  name: 'HP',
                  path: '/category/5/hp',
                  children: []
                }
              ]
            }
          ]
        },
        {
          id: 6,
          name : "Fashion",
          path: '#',
          children : [
            {
              id: 7,
              name: 'Men',
              path: '/category/7/men',
              children: []
            },
            {
              id: 8,
              name: 'Women',
              path: '/category/8/women',
              children: []
            }
          ]
        },
        {
          id: 9,
          name: 'Accessories',
          path: '/category/9/accessories',
          children: []
        }
      ]
    }
  },
  async fetch() {
    this.categoriesTree = await fetch(
      process.env.apiUrl + 'category'
    ).then(res => res.json())
  },
}
</script>

<style>
.NavigationItem__label {
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
}
.NavigationItem__router-link {
  font-family: 'Montserrat';
}
</style>
